.row{
    margin-left:20px;
    color: white;
}
.row_posters{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row_posters::-webkit-scrollbar{
    display: none;
}

.row_poster{
    position: relative;
    object-fit: contain;
    max-width: 200px;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}
.row_poster:hover{
    transform: scale(1.5);
}
.hover_effect{
    position: relative;
    display: flex;
    height: 6rem;
    background-color: aqua;
    width: 100%;
    object-fit: contain;
}
p.text{
    width: 200px;
    height: 100px;
    color: white;
    background-image:linear-gradient(180deg, transparent,rgba(37,37,37,0.61),#111);
}

.row_posterLarge{
    max-height: 250px;
}
.row_posterLarge:hover{
    transform: scale(1.09);
}