.footer {
   background: black;
   padding: 50px 10px;

   h5 {
      font-size: 4rem;
      font-family: "Dancing Script", cursive;
   }

   small {
      opacity: 0.7;
      font-size: 1.5rem;

      span {
         opacity: 0.8;
      }

      .logo {
         color: red;
         font-family: "Dancing Script", cursive;
         opacity: 1;
      }
   }
}
