.hero {
   //position: relative;
   z-index: 1;
   width: 100%;
   height: 650px;
   position: relative;
   background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
   background-position: center top;
   background-size: cover;
   background-repeat: no-repeat;
   //-webkit-clip-path: polygon(0 0, 100% 0, 100% 97%, 0% 100%);
   //clip-path: polygon(0 0, 100% 0, 100% 97%, 0% 100%);
   overflow: hidden;

   &__overlay {
      position: absolute;
      bottom: 0;
      z-index: 3;
      width:450px;
      margin-left: 3rem;
      margin-bottom: 3rem;
      border-radius: 1rem;
      padding: 1rem;
      //padding-bottom: 0px;
      //width: 100%;
      //height: 100%;
      background: rgba(0, 0, 0, 0.3);
   }

   &__body {
      position: relative;
      //bottom: 0;
      //padding-top: 60px;
      //padding-bottom: 40px;
      height: 100%;
      width: 100%;
      color: white;

      h1 {
         position: relative;
         z-index: 3;
         margin-bottom: 1.5rem;
      }

      p {
         position: relative;
         z-index: 3;
         
         font-size: 1.5rem;
         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      &-btn {
         position: relative;
         z-index: 3;
         width: 160px;
         height: 50px;
         font-weight: bold;
         font-size: 2rem;
         border-radius: 0;
         -webkit-border-radius: 0;
         -moz-border-radius: 0;
         -ms-border-radius: 0;
         -o-border-radius: 0;
      }

      img {
         width: 100%;
         height: 100%;
         position: absolute;
         z-index: 2;
         object-fit: cover;
         top: 0;
      }
   }

   &__form {
      position: relative;
      z-index: 4;
      width: 650px;
      margin-top: 50px;

      h3 {
         font-size: 2.5rem;
      }

      .form-group {
         display: flex;
      }

      input {
         display: inline-block;
         width: calc(100% - 160px);
         height: 60px;
         font-size: 2rem;
      }

      button {
         width: 160px;
         height: 60px;
         font-weight: bold;
         font-size: 2rem;
         border-radius: 0;
      }
   }
}

@media (max-width: 750px) {
   .hero {
      &__form {
         width: 90%;

         button {
            width: 140px;
            font-size: 1.5rem;
         }
      }
   }
}

@media (max-width: 420px) {
   .hero {
      -webkit-clip-path: none;
      clip-path: none;
      height: 720px;

      &__body {
         padding-top: 40px;

         h1 {
            padding-left: 10px;
            padding-right: 10px;
         }

         p {
            width: 95%;
            padding-left: 10px;
            padding-right: 10px;
         }
      }

      &__form {
         input {
            width: 100%;
         }

         button {
            width: 100%;
            margin-top: 10px;
         }

         .form-group {
            flex-direction: column;
         }
      }
   }
}
